{% extends 'base.html' %}
{% block content %}
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-20 items-center justify-center flex-col">
    <!-- <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-5 object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600"> -->
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-2 mt-10 font-medium text-gray-900">CRM built with Django</h1>
      <p class="leading-relaxed">This helps you maintain leads</p>
      <div class="flex justify-center">

      </div>
    </div>
  </div>
</section>
{% endblock content%}
